!!!
%html.errorPage
  %head
    %title= @page_title
    = stylesheet_link_tag 'documentation/application'
    = csrf_meta_tags
  %body
    %section.errorMessage
      %h2 Access Denied
      %p You are not permitted to view this page. If you believe you have received this message in error, please contact the site admin.