- canAdd = authorizer.can_add_page?(@page)
- canEdit = authorizer.can_edit_page?(@page)
- canReposition = authorizer.can_reposition_page?(@page)
- canDelete = authorizer.can_delete_page?(@page)

- if canAdd || canEdit || canReposition || canDelete
  %p.adminButtons
    - if canAdd
      = link_to t('.new'), new_page_path(@page.full_permalink), :class => 'button new'

    - if canEdit
      = link_to t('.edit'), edit_page_path(@page.full_permalink), :class => 'button edit'

    - if canReposition
      = link_to t('.reorder'), page_positioning_path(@page.parents[-1].try(:full_permalink)), :class => 'button edit'

    - if canDelete
      = link_to t('.delete'), delete_page_path(@page.full_permalink), :class => 'button delete', :method => :delete, :data => {:confirm => "Are you sure you wish to remove this page?"}
