div.documentationMarkdown {
	a { color:#35A4D4; text-decoration:none; border-bottom:1px solid #35A4D4; font-weight:600;}
  
	h1, h2 { font-size:1.6em; font-weight:300; margin:20px 0; border-bottom:1px solid #aecdda; padding-bottom:2px; color:#35A4D4;}
	h3 { font-size:1.3em; font-weight:500; margin:20px 0; }
	h4 { font-size:1.1em; font-weight:500; margin:20px 0;}
	h5 { font-size:1.1em; font-weight:500; margin:20px 0;}

	p { margin:20px 0; line-height:1.8;}

	ul, ol { line-height:1.8em; margin:20px 0; margin-left:40px; }
	ul li { background:image-url('documentation/pin.svg') no-repeat 0 5px; background-size:13px; padding-left:25px;}
	ol { margin-left:65px;}
	ol li { margin-bottom:20px;padding-left:15px;}
	ol li:last-child { margin-bottom:0; }
	ul.pages {
		overflow:hidden;
		li { background:image-url('documentation/page.svg') no-repeat 0 5px; background-size:13px; padding-left:25px; width:45%; float:left; margin-bottom:5px;}
	}
	
	h2, h3, h4, h5 {
		&:hover a.anchor { display:inline-block;}
	}
	
	a.anchor { display:none; float:right; border:0; color:#999; width:16px; height:16px; background:image-url('documentation/link.svg'); opacity:0.6; background-size:16px; text-indent:-40000px;}
	
	p.recommendation {
		background:image-url('documentation/recommendation.svg') #F5F7FB no-repeat 20px 16px;
		background-size:20px;
		border:1px solid #E4E7ED;
		padding:15px;
		margin-left:0;
		margin-right:0;
		padding-left:55px;
	}
	
	p.warning {
		background:image-url('documentation/warning.svg') #fffbec no-repeat 20px 18px;
		background-size:20px;
		border:1px solid #edda8c;
		padding:15px;
		color:#97894f;
		margin-left:0;
		margin-right:0;
		padding-left:55px;
	}

	p.codeTitle {
		background:#f7f7f7;
		margin-bottom:0;
		line-height:1;
		border-top-left-radius:6px;
		border-top-right-radius:6px;
		padding:15px 20px;
		font-size:0.9em;
		font-weight:500;
		color:#666;
		border:1px solid #ddd;
		border-bottom:0;
	}
	
	p.codeTitle + div.highlight pre {
		margin-top:0 !important;
		border-top-left-radius:0;
		border-top-right-radius:0;
	}
	
	pre {
		margin:25px 0;
		line-height:1.4;
		padding:20px;
		border-radius:6px;
		overflow-x:auto;
		word-wrap: normal;
	  white-space: pre;
	}
	
	code { background:#F8F8F8; border:1px solid #ddd; border-radius:4px; padding:0px 5px; margin:0 2px; font-size:0.85em; white-space:pre; word-wrap:none;}
	
	.imgcontainer.center {
		display:block;
		margin:0 35px;
		text-align:center;
		img {
			max-width:90%;
		}
	}
	
	table {
		margin:25px 0;
		min-width:100%;
		td, th { border:1px solid #E4E7ED; padding:10px;}
		th { background:#F5F7FB; color:#8E9BB4; font-weight:300; text-align:left;}
	}
	
	.highlight {
  	pre {
  		font-family:Consolas, "Liberation Mono", Courier, monospace;
  		font-size:15px;
      background: #1d1f21; color: #c5c8c6;
      .hll { background-color: #373b41 }
      .c { color: #969896 } /* Comment */
      .err { color: #cc6666 } /* Error */
      .k { color: #b294bb } /* Keyword */
      .l { color: #de935f } /* Literal */
      .n { color: #c5c8c6 } /* Name */
      .o { color: #8abeb7 } /* Operator */
      .p { color: #c5c8c6 } /* Punctuation */
      .cm { color: #969896 } /* Comment.Multiline */
      .cp { color: #969896 } /* Comment.Preproc */
      .c1 { color: #969896 } /* Comment.Single */
      .cs { color: #969896 } /* Comment.Special */
      .gd { color: #cc6666 } /* Generic.Deleted */
      .ge { font-style: italic } /* Generic.Emph */
      .gh { color: #c5c8c6; font-weight: bold } /* Generic.Heading */
      .gi { color: #b5bd68 } /* Generic.Inserted */
      .gp { color: #969896; font-weight: bold } /* Generic.Prompt */
      .gs { font-weight: bold } /* Generic.Strong */
      .gu { color: #8abeb7; font-weight: bold } /* Generic.Subheading */
      .kc { color: #b294bb } /* Keyword.Constant */
      .kd { color: #b294bb } /* Keyword.Declaration */
      .kn { color: #8abeb7 } /* Keyword.Namespace */
      .kp { color: #b294bb } /* Keyword.Pseudo */
      .kr { color: #b294bb } /* Keyword.Reserved */
      .kt { color: #f0c674 } /* Keyword.Type */
      .ld { color: #b5bd68 } /* Literal.Date */
      .m { color: #de935f } /* Literal.Number */
      .s { color: #b5bd68 } /* Literal.String */
      .na { color: #81a2be } /* Name.Attribute */
      .nb { color: #c5c8c6 } /* Name.Builtin */
      .nc { color: #f0c674 } /* Name.Class */
      .no { color: #cc6666 } /* Name.Constant */
      .nd { color: #8abeb7 } /* Name.Decorator */
      .ni { color: #c5c8c6 } /* Name.Entity */
      .ne { color: #cc6666 } /* Name.Exception */
      .nf { color: #81a2be } /* Name.Function */
      .nl { color: #c5c8c6 } /* Name.Label */
      .nn { color: #f0c674 } /* Name.Namespace */
      .nx { color: #81a2be } /* Name.Other */
      .py { color: #c5c8c6 } /* Name.Property */
      .nt { color: #8abeb7 } /* Name.Tag */
      .nv { color: #cc6666 } /* Name.Variable */
      .ow { color: #8abeb7 } /* Operator.Word */
      .w { color: #c5c8c6 } /* Text.Whitespace */
      .mf { color: #de935f } /* Literal.Number.Float */
      .mh { color: #de935f } /* Literal.Number.Hex */
      .mi { color: #de935f } /* Literal.Number.Integer */
      .mo { color: #de935f } /* Literal.Number.Oct */
      .sb { color: #b5bd68 } /* Literal.String.Backtick */
      .sc { color: #c5c8c6 } /* Literal.String.Char */
      .sd { color: #969896 } /* Literal.String.Doc */
      .s2 { color: #b5bd68 } /* Literal.String.Double */
      .se { color: #de935f } /* Literal.String.Escape */
      .sh { color: #b5bd68 } /* Literal.String.Heredoc */
      .si { color: #de935f } /* Literal.String.Interpol */
      .sx { color: #b5bd68 } /* Literal.String.Other */
      .sr { color: #b5bd68 } /* Literal.String.Regex */
      .s1 { color: #b5bd68 } /* Literal.String.Single */
      .ss { color: #b5bd68 } /* Literal.String.Symbol */
      .bp { color: #c5c8c6 } /* Name.Builtin.Pseudo */
      .vc { color: #cc6666 } /* Name.Variable.Class */
      .vg { color: #cc6666 } /* Name.Variable.Global */
      .vi { color: #cc6666 } /* Name.Variable.Instance */
      .il { color: #de935f } /* Literal.Number.Integer.Long */
  	}
  }
	
}
