nav.pages {
    @media (max-width: 768px) {
        width: 30%;
    }

    @media (max-width: 600px) {
        position: static;
        margin-top: 62px;
        width: 100%;
        bottom: auto;
        border: none;
    }

    div.inner ul li a {
        @media (max-width: 600px) {
            padding-left: 30px;
        }
    }
}

.searchForm {
    @media (min-width: 320px) and (max-width: 360px) {
        width: 270px;
        margin: 0 auto 15px auto;
    }

    @media (min-width: 360px) and (max-width: 600px) {
        margin: 0 0 15px 0;
        padding: 0 30px;
    }
}

nav.breadcrumb {
    padding: 0 35px;
}

nav.breadcrumb ul li a {
    display: inline-block;
    margin: 10px 0;
}

section.content {
    @media (max-width: 768px) {
        width: 70%;
        left: 30%;
    }

    @media (max-width: 600px) {
        position: static;
        width: 100%;
        bottom: auto;
        overflow: hidden;
    }
}

section.page {
    @media (max-width: 768px) {
        margin: 22px 6%;
    }

    p.adminButtons {
        @media (max-width: 800px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    
        a {
            @media(max-width: 800px) {
                margin: 10px;
            }
        }
    }
}

p.new a {
    margin-top: 15px;
}
