%ul
  - if @page
    - for page, children in @page.navigation.select { |p,c| authorizer.can_view_page?(p) }
      %li
        = link_to page.title, page_path(page.full_permalink), :class => page == @page ? 'active' : ''
        - unless children.empty?
          %ul
            - for child_page in children.select { |p| authorizer.can_view_page?(p) }
              %li= link_to child_page.title, page_path(child_page.full_permalink), :class => child_page == @page ? 'active' : ''
  - else
    - for page in Documentation::Page.roots
      %li= link_to page.title, page_path(page.full_permalink)